<option value="">--Don't Know--</option>
<option value="1">Crafting</option>
<option value="2">Nooks Cranny</option>
<option value="3">Paradise Planning Office</option>
<option value="4">Brewster</option>
<option value="5">C.J</option>
<option value="6">Flick</option>
<option value="7">Nook Shopping</option>
<option value="8">Cooking</option>
<option value="9">Gulliver</option>
<option value="10">Villager</option>
<option value="11">Jolly Redd</option>
<option value="12">Katrina</option>
<option value="13">Sahara</option>