<option value="">--Don't know--</option>
<option value="1">Amusement Park</option>
<option value="2">Ancient</option>
<option value="3">Apparel shop</option>
<option value="4">Arcade</option>
<option value="5">Bathroom</option>
<option value="6">Cafe</option>
<option value="7">Childs room</option>
<option value="8">City life</option>
<option value="9">Concert</option>
<option value="10">Construction site</option>
<option value="11">Den</option>
<option value="12">European</option>
<option value="13">Expensive</option>
<option value="14">Facility</option>
<option value="15">Fantasy</option>
<option value="16">Fancy</option>
<option value="17">Fitness</option>
<option value="18">Freezing cold</option>
<option value="19">Garden</option>
<option value="20">Harmonious</option>
<option value="21">Heritage</option>
<option value="22">Horror</option>
<option value="23">Hospital</option>
<option value="24">Kitchen</option>
<option value="25">Lab</option>
<option value="26">Living room</option>
<option value="27">Local</option>
<option value="28">Music</option>
<option value="29">Nature</option>
<option value="30">Ocean</option>
<option value="31">Office</option>
<option value="32">Outdoors</option>
<option value="33">Park</option>
<option value="34">Party</option>
<option value="35">Public Bath</option>
<option value="36">Resort</option>
<option value="37">Restaurant</option>
<option value="38">Retro</option>
<option value="39">Space</option>
<option value="40">School</option>
<option value="41">Sci-fi</option>
<option value="42">Shop</option>
<option value="43">Sport</option>
<option value="44">Stylish</option>
<option value="45">Supermarket</option>
<option value="46">Workshop</option>